// WHITE
$white: #F8F2E9;

// GREYS
$grey-1: #DCDBDB; //lightest
$grey-2: #A6A5A7;
$grey-3: #7D7D80;
$grey-4: #56565A; //darkest

// BLACK
$black: #121820;

// COLOURS
$yellow: #EAB63F;
$purple: #64689B;
$teal: #00A29C;
$red: #DF4827;
