@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}


*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

// Grads navigation buttons

.pp-wrap, .pp-wrap-name {
  width: 100%;
  background-color: $grey-1;
}

.pp-nav-btn {
  list-style-type: none;
  width: auto;
  text-align: center;
  padding-left: 0;
  margin-bottom: 0;
}

.pp-nav-btn-li {
  display: inline-block;
  left: 33%;
}

.pp-nav-btn-a {
  width: 8em;
  @include pp-nav-btn;
}

.pp-nav-btn-arrows {
  width: 4em;
  font-weight: 600;
  margin: 0;
  @include pp-nav-btn;
    &:hover {
      font-weight: 600;
    }
}

.pp-off {
  display: none;
  margin: 0;
}

.pp-on {
  visibility: visible;
}

@media only screen and (min-width: 38em) {

  .pp-on {
    display: none;
  }

  .pp-off {
    display: inherit;
  }

}

@media only screen and (min-width: 60em) {

  .pp-wrap-name {
    background-color: #fff;
  }

}
